NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://neondb_owner:npg_Gr6OHATLV1oZ@ep-dry-heart-az1xvd8m.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
REDIS_URL=redis-cli --tls -u redis://default:gQAAAAAAAWxqAAIgcDE4YWQ0NWJmYWZhODE0NzFmYTRiNzAwNDgyOTNlZjRiNg@moving-bengal-93290.upstash.io:6379
JWT_ACCESS_SECRET=mySecretKey123RandomLongEnough
JWT_REFRESH_SECRET=anotherSecretKey456DifferentFromFirst